// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
.nuxt-link-exact-active{
	background-color: #333333;
}
#header{
	border-bottom: 1px solid #000;
}

.staff-table thead{
	    border-top: 4px solid #000;
	    
}